.screen {
  height: 80px;
  background: linear-gradient(to bottom, white, white);
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  transform: perspective(600px) rotateX(-20deg);
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #555;
  font-weight: bold;
  line-height: 80px;
  font-size: 1.2em;
}
.seat-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-left: 10px;
}
@media (max-width: 767px) { 
  .seat-wrap {
    align-items: start;
  }
}